# Composer
/vendor/
composer.lock

# Symfony var (cache, logs, sessions)
/var/

# Code Quality Tools
.php-cs-fixer.cache
.phpunit.result.cache

# Code Coverage Reports
/coverage/
coverage.xml
coverage.clover
